output
build
dist
a.out
*.*~
*.swp
.DS_Store
*.o
stamp-h1
missing
m4
*.swp
*.swo
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
config.*
compile
configure
depcomp
install-sh
libtool
ltmain.sh
.deps
.dirstamp
.libs
.dep.inc
test-driver
*.log
*.trs
*.lo
fs_data
*.la
/luna
/*/usr/bin
/**/*.so
/**/*.deb
/**/*.so.*
*.gz
deps/**/*
/**/*.tgz
*.db
*.sqlite*
/test/bin/**/*
*/var/lib
test/downloaded-hello.txt
